@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom prose class for review markdown styling */
.prose-custom {
  h1,
  h2,
  h3 {
    @apply font-ebGaramond font-normal text-3xl;
  }

  blockquote {
    border: none;
    text-align: center;
    padding-inline: unset;
    @apply font-ebGaramond text-xl max-w-4xl m-auto mt-8 mb-8;
    @apply border-b-8 border-x-0 border-t-0 border-double border-rose-700;
  }

  a {
    @apply text-amber-200 no-underline;
    &:hover {
      @apply text-amber-400;
    }
  }
}
